@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300);

$open-sans: 'Open Sans Condensed';

$background-color: #efefef;
$heading-color: #1e747c;
$primary-color: #506cf0;
$secondary-color: #fe7860;
$gray-color-1: #f4f2f2;
$gray-color-2: #f0eeee;
$gray-color-3: #ccc;
