@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300);

$raleway: 'Open Sans Condensed';

$background-color: #474346;
$heading-color: #1e747c;
$secondary-color: #0c755b;
$gray-color-1: #f4f2f2;
$gray-color-2: #f0eeee;
$gray-color-3: #ccc;
