@import '../../../styles/global/variables';
@import '../../../styles/global/mixins';

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var($gray-color-1);
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 30%;
  transition: all .2s;
  margin: 10px;

  &:focus {
    outline: none;
    width: 35%;
    background-color: var($gray-color-2);
  }

  &::-webkit-input-placeholder {
    font-weight: 100;
    color: var($gray-color-3);
  }
}

.btn {
  @include sm {
    width: 10%;
  }

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  border-radius: 100px;
  border: none;
  background-color: $primary-color;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 33%;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}
