/* You can add global styles to this file, and also import other style files */
@import 'styles/global/variables';

body {
  font-family: $open-sans;
  font-weight: normal;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
  font-weight: bold;
  color: $heading-color;
}
